<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SideBar Page</title>
    <link rel="stylesheet" href="../styles/index_style.css"  type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
   
    <script  rel="stylesheet"  src="https://cdn.jsdelivr.net/npm/package@version/file.js"></script>

    <!----link below---->

    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

    <!--Carousel-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="https://i.ibb.co/txPQ2Yp/logo-new.png" alt="" style="width: 100%;">
                    <!--h1>Project Name</h1-->
                </span>
            </div>
           
            <i class="fa fa-forward icon toggle"></i>
           
        </header>
       
        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                   
                    <i class="fa fa-search icon"></i>
                    <input type="text" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class="fa fa-database icon"></i>
                            <span class="text nav-text Dash Borad">Dash Borad</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                           
                            <i class="fa fa-list icon"></i>
                           
                            <span class="text nav-text">Video Analytics</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='fa fa-file-o icon'></i>
                            <span class="text nav-text">Manage Incidents</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='fa fa-cogs icon'></i>
                            <span class="text nav-text">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='fa fa-lock icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>

    </nav>
    <section class="home">
        <!--div class="text"><h1>{{Usere}} from {{team}} Information</h1></div-->
        <div class="container">
            <div class="row header" style="text-align:center;color:green; margin-bottom: 30px;">
                <h1>Video Analytics</h1>
            </div>
        </div> 
        <div class="video-container">
            <div>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;Camera 03</h3>
                <div class="video" >
                    <img src="http://127.0.0.1:2000/video0" alt="" type="video.mp4">
                </div>
            </div>
            <div>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;Camera 03</h3>
                <div class="video" >
                    <img src="http://127.0.0.1:2000/video0" alt="" type="video.mp4">
                </div>
            </div>
            <div>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;Camera 03</h3>
                <div class="video" >
                    <img src="http://127.0.0.1:2000/video0" alt="" type="video.mp4">
                </div>
            </div>
            <div>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;Camera 03</h3>
                <div class="video" >
                    <img src="http://127.0.0.1:2000/video0" alt="" type="video.mp4">
                </div>
            </div>
            <div>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;Camera 03</h3>
                <div class="video" >
                    <img src="http://127.0.0.1:2000/video0" alt="" type="video.mp4">
                </div>
            </div>
            <div>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;Camera 03</h3>
                <div class="video" >
                    <img src="http://127.0.0.1:2000/video0" alt="" type="video.mp4">
                </div>
            </div>
            <div>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;Camera 03</h3>
                <div class="video" >
                    <img src="http://127.0.0.1:2000/video0" alt="" type="video.mp4">
                </div>
            </div>
            <div>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;Camera 03</h3>
                <div class="video" >
                    <img src="http://127.0.0.1:2000/video0" alt="" type="video.mp4">
                </div>
            </div>
            <div>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;Camera 03</h3>
                <div class="video" >
                    <img src="http://127.0.0.1:2000/video0" alt="" type="video.mp4">
                </div>
            </div>
        </div>
</body>
<script>
    const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");


toggle.addEventListener("click", () => {
    sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click", () => {
    sidebar.classList.remove("close");
})

modeSwitch.addEventListener("click", () => {
    body.classList.toggle("dark");

    if (body.classList.contains("dark")) {
        modeText.innerText = "Light mode";
    } else {
        modeText.innerText = "Dark mode";

    }
});

$(document).ready(function() {
    $('#example').DataTable();
} );



var video = document.querySelectorAll('img')

video.forEach(play => play.addEventListener('click',()=>{
    play.classList.toggle('active');
    if(play.paused){
        play.play();
    }else{
        play.paused();
        play.currentTime(0);
    }
}));






</script>
</html>
